<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.dangle"
    android:versionCode="1"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 添加渠道SDK必需要的权限。 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- ali -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- nfc -->
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- nfc权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- v5 demo案例入口 -->
        <activity
            android:name="com.example.test.demo.Game_SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test.demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <!-- 渠道SDK必须Activity声明start -->
        <!-- SdkActivity 和 PayActivity 横竖屏设置与游戏保持一致 -->
        <activity
            android:name="com.downjoy.activity.SdkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/dcn_dialog_activity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- UPPay sdk begin -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- UPPay sdk end -->


        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->
        <!-- QQ sdk end -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100772260" />
            </intent-filter>
        </activity>
        <!-- Polling Service -->
        <service android:name="com.downjoy.service.PollingService" >
            <intent-filter>
                <action android:name="action.downjoy.polling.service" />
            </intent-filter>
        </service>

        <!-- nfc -->
        <activity
            android:name="com.wepayplugin.nfc.ui.PayStartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wepayplugin.nfc.ui.SwiperCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wepayplugin.nfc.ui.PayResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 渠道SDK必须Activity声明end -->


        <!-- 打包生成的参数 -->
        <meta-data
            android:name="HY_GAME_ID"
            android:value="2000" />
        <meta-data
            android:name="HY_CHANNEL_CODE"
            android:value="2000101" />
        <meta-data
            android:name="HY_CHANNEL_NAME"
            android:value="DANGLE" />
        <!-- 打包生成的参数end -->
        <meta-data
            android:name="DANGLE_SDK_MERCHANT_ID"
            android:value="1578" />
        <meta-data
            android:name="DANGLE_SDK_APP_ID"
            android:value="4377" />
        <meta-data
            android:name="DANGLE_SDK_APP_KEY"
            android:value="ULbgGKQ8" />
        <!-- 渠道参数 -->

    </application>

</manifest>