<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.qianbao"
    android:versionCode="1"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <permission android:name="me.haima.www.permission.READ_BASICDATA" />
    <permission android:name="me.haima.www.permission.WRITE_BASICDATA" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="me.haima.www.permission.READ_BASICDATA" />
    <uses-permission android:name="me.haima.www.permission.WRITE_BASICDATA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- v5 demo案例入口 -->
        <activity
            android:name="com.example.test.demo.Game_SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test.demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <!-- activity start -->
        <activity
            android:name="com.haima.loginplugin.activities.ZHLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHWebControlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.payPlugin.activities.ZHReChargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.payPlugin.activities.ZHPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHMyPropsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHVipPrivilegeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHVoucherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHMessageCenterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.views.ImageAndTextDialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.haima.payPlugin.activities.PayWebControlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- SDK Activity END -->
        <!-- Union Pay Activity BEGIN -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- Union Pay Activity END -->
        <!-- Ali Pay Activity START -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- Ali Pay Activity END -->
        <!-- SDK 中用到的 Activity(包括第三方) END -->
        <!-- activity end -->


        <!-- 打包生成的参数 -->
        <meta-data
            android:name="HY_CHANNEL_CODE"
            android:value="125" />
        <meta-data
            android:name="HY_CHANNEL_TYPE"
            android:value="HaiMaWan" />
        <meta-data
            android:name="HY_GAME_ID"
            android:value="1001" />
        <meta-data
            android:name="HMKey"
            android:value="d7492b8602d1a65f5165a5d84a7b7202" />
        <!-- 打包生成的参数end -->

    </application>

</manifest>