<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.demo"
    android:versionCode="1"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 添加360SDK必需要的权限。begin -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- v5 demo案例入口 -->
        <activity
            android:name="com.test.demo.Game_SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.hy.game.demo.HyGameDemo"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.hy.game.demo.FloatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!-- u9sdk参数 -->
        <!-- 游戏号     必填 -->
        <meta-data
            android:name="HY_GAME_ID"
            android:value="1001" />
        <!-- 渠道号         打包时自动写入  可以不填 -->
        <meta-data
            android:name="HY_CHANNEL_CODE"
            android:value="100" />
        <!-- 渠道标识     打包时自动写入  可以不填 -->
        <meta-data
            android:name="HY_CHANNEL_TYPE"
            android:value="Test" />
    </application>

</manifest>