<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.xmw"
    android:versionCode="1"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- v5 demo案例入口 -->
        <activity
            android:name="com.example.test.demo.Game_SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test.demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <!-- activity start -->
        <activity
            android:name="com.xmwsdk.xmwsdk.XmwLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xmwsdk.xmwsdk.InfomationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.xmwsdk.xmwsdk.PayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xmwsdk.xmwsdk.InfomationNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service android:name="com.xmwsdk.xmwsdk.FloatingWindowService" />

        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.mokredit.payment.MktPayment"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.unionpay.uppay.PayActivity" />
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensor" >
        </activity>
        <!-- alipay sdk end -->
        <activity
            android:name="com.xmwsdk.webview.AccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.xmwsdk.webview.HotNewsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.xmwsdk.xmwsdk.paytendWXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver android:name="com.example.sdk.AppReciver" >
            <intent-filter>
                <action android:name="com.paytend.wxpay.plugin.recive" />
            </intent-filter>
        </receiver> <!-- activity end -->


        <!-- 打包生成的参数 -->
        <meta-data
            android:name="HY_CHANNEL_CODE"
            android:value="123" />
        <meta-data
            android:name="HY_CHANNEL_TYPE"
            android:value="XMW" />
        <meta-data
            android:name="HY_GAME_ID"
            android:value="1001" />
        <meta-data
            android:name="XMWAPPID"
            android:value="88080487af4257e06deed6b2c8ba7b3e" />
        <meta-data
            android:name="“XMWVERSION"
            android:value="v223" />
        <!-- 打包生成的参数end -->

    </application>

</manifest>