<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0.4" package="com.pzws.am"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:debuggable="true" android:allowBackup="true">
        <activity android:name="com.example.test.demo.Game_SplashActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.test.demo.MainActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name="com.gionee.gsp.floatingwindow.FloatingWindowService">
            <intent-filter>
                <action android:name="com.gionee.pay.ic.FloatingWindowService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.gionee.gsp.service.activity.AssistActivity" android:configChanges="mcc|mnc|orientation|screenSize" />
        <meta-data android:name="HY_CHANNEL_CODE" android:value="120" />
        <meta-data android:name="HY_CHANNEL_TYPE" android:value="AMiGo" />
        <meta-data android:name="HY_GAME_ID" android:value="1001" />
        <meta-data android:name="AMIGO_API_KEY" android:value="9E884D6DBBDB4A93B300278E46556E44" />
    </application>
</manifest>